/* // Colors
$primary: #6d6afe;
$red: #ff5b56;
$black: #111322;
$white: #fff;
$gray-100: #3e3e43;
$gray-200: #9fa6b2;
$gray-300: #ccd5e3;
$gray-400: #e7effb;
$gray-500: #f0f6ff;

// Font weights
$font-bold: 700;
$font-regular: 400; */
