.btn.sm {
  padding: 8px 16px;
}
.btn.sm.ico {
  padding: 8px 12px;
}
.btn.lg {
  padding: 14px 24px;
  position: absolute;
  right: 12px;
}
.btn.lg.ico {
  padding: 12px 16px;
}

.btn.full {
  padding: 14px 24px;
  width: 100%;
}

.btn {
  border-radius: 48px;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  z-index: 102;
}

.sm {
  padding: 8px 16px;
  font-size: 14px;
}

.sm.ico {
  padding: 8px 12px;
}

.md {
  padding: 10px 20px;
  font-size: 16px;
}

.lg {
  padding: 14px 24px;
  font-size: 18px;
}

.lg.ico {
  padding: 12px 16px;
}

.full {
  width: 100%;
}
.white {
  color: var(--white);
  background: var(--black);
}
.black {
  color: var(--black);
  background: var(--white);
}
.primary {
  color: var(--primary);
}

.gray100 {
  background: var(--gray-100);
  color: var(--black);
}
.gray200 {
  background: var(--gray-200);
  color: var(--black);
}
.gray300 {
  background: var(--gray-300);
  color: var(--black);
}
.gray400 {
  background: var(--gray-400);
  color: var(--black);
}
.gray500 {
  background: var(--gray-500);
  color: var(--black);
}
.gray600 {
  background: var(--gray-600);
  color: var(--white);
}
.gray700 {
  background: var(--gray-700);
  color: var(--white);
}
.gray800 {
  background: var(--gray-800);
  color: var(--white);
}
.gray900 {
  background: var(--gray-900);
  color: var(--white);
}
