.container {
  text-align: center;
  margin: 64px auto 64px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.iconBox {
  margin-bottom: 24px;
  opacity: 0.8;
}

.title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 12px;
  color: #222;
}

.desc {
  font-size: 14px;
  color: #666;
  line-height: 1.6;
}

.highlight {
  color: #ffd600;
  font-weight: bold;
}
