.footer_wrap {
  max-width: 1440px;
  background: var(--gray-200);
  padding: 32px 0 106px;
  margin: 64px auto 0;
  width: 100%;
  margin-top: auto;
}

.footer_wrap .footer_list {
  max-width: 929px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.footer_wrap .footer_list .txt {
  color: var(--gray-400);
}
.footer_wrap .footer_list .desc {
  display: flex;
  gap: 30px;
  color: var(--gray-500);
}
.footer_wrap .sns_list {
  display: flex;
  gap: 13px;
}
