.wrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  padding-bottom: 80px;
}

.wrap > button {
  flex-shrink: 0;
  margin-right: 12px;
}
