.input_wrap {
  width: 100%;
  position: relative;
}

.input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 44px;
  background: #fff;
}
.input_sm {
  height: 54px;
}
.input_lg {
  height: 77px;
  border-radius: 44px;
  background: none;
  border: 2px solid var(--gray-500);
  padding-left: 80px;
  font-size: 20px;
  color: var(--gray-400);
}

.icon_left,
.icon_right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 102;
}

.icon_left {
  left: 32px;
  width: 28px;
  height: 28px;
  display: block;
}

.icon_right {
  right: 14px;
}
