.background {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("/images/bg_login.png") no-repeat 0 0 / cover;
  padding: 50px 0;
}

.box {
  width: 480px;
  text-align: center;
  background: rgba(43, 43, 43, 0.8);
  padding: 80px 40px 60px;
  border-radius: 20px;
}

.logo {
  font-weight: bold;
  margin-bottom: 8px;
  width: 210px;
  height: 38px;
  position: relative;
  margin: 0 auto 16px;
}
.logo img {
  object-fit: contain;
}

.subText {
  margin-bottom: 30px;
  color: var(--white);
}

.subText a {
  color: rgba(109, 106, 254, 1);
  text-decoration: underline;
  margin-left: 5px;
}

.label {
  display: block;
  font-size: 14px;
  text-align: left;
  margin-bottom: 8px;
  margin-top: 24px;
  color: var(--white);
}

.input {
  width: 100%;
  padding: 14px;
  border-radius: 10px;
  background: #1e1e1e;
  border: 1px solid var(--gray-500);
  color: white;
  /* margin-bottom: 4px; */
  height: 54px;
}

.passwordBox {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.eyeIcon {
  position: absolute;
  right: 12px;
  top: 14px;
  cursor: pointer;
}

.loginBtn {
  width: 100%;
  padding: 14px;
  border-radius: 30px;
  margin-top: 30px;
  background: white;
  color: var(--black);
  font-size: 15px;
  cursor: pointer;
}

.socialSection {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(30, 30, 30, 0.8);
  border-radius: 10px;
  width: 100%;
  height: 66px;
  padding: 0 24px;
}

.socialTitle {
  font-size: 14px;
  color: var(--white);
}

.kakaoBtn {
  width: 42px;
  height: 42px;
  background: #fee500;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.input_width_btn {
  position: relative;
}
.input_width_btn > button {
  position: absolute;
  top: 11px;
  right: 12px;
  z-index: 103;
  border-radius: 5px;
  padding: 9px 12px;
  font-size: 12px;
}

.socialSection {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(30, 30, 30, 0.8);
  border-radius: 10px;
  width: 100%;
  height: 66px;
  padding: 0 24px;
}

.socialTitle {
  font-size: 14px;
  color: var(--white);
}

.kakaoBtn {
  width: 42px;
  height: 42px;
  background: #fee500;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
